@model HaverDevProject.Models.NcrProcurementDTO

@{
    ViewData["Title"] = "Create";
}
<head>
    <!-- Other head elements, such as meta tags, title, and other stylesheets -->
    <!-- Add the <style> block for CSS transitions -->
    <style>
        /* Add CSS transition for smooth hide/show effect */
        .supplier-return-fields {
            max-height: 1000px; /* Set a sufficiently large max-height */
            transition: max-height 0.5s ease-out; /* Adjust the duration and easing as needed */
            overflow: hidden;
        }
    </style>

</head>
<div class="col-md-8 col-10 mx-auto">
    <h1><i class="bi bi-caret-right-fill"></i>Procurement</h1>
</div>

<div class="col-md-8 col-10 mx-auto">
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="card border-2">
            <div class="card-header bg-custom-color mb-2 d-flex justify-content-between">
                <div>
                    <h2 class="m-0">Add to NCR</h2>
                </div>
                <div class="justify-content-end">
                    <p class="m-0">Fields marked <span class="fw-bold text-danger">*</span> are required.</p>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
            <div class="card-body col-lg-10 col-11 mx-auto">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="NcrNumber" class="control-label"></label>
                            <input asp-for="NcrNumber" class="form-control" readonly />
                            <span asp-validation-for="NcrNumber" class="text-danger"></span>
                        </div>
                    </div>
                    @* <div class="col-6">
                    <div class="form-group">
                    <label asp-for="NcrQa.NcrQacreationDate" class="control-label"></label>
                    <input asp-for="NcrQa.NcrQacreationDate" class="form-control" readonly />
                    <span asp-validation-for="NcrQa.NcrQacreationDate" class="text-danger"></span>
                    </div>
                    </div> *@
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="pb-3" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Check Yes or No if Supplier Requested a Return"> Supplier Return Request <span class="fw-bold text-danger">*</span></label>
                            <div class="text-center">
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" asp-for="NcrProcSupplierReturnReq" value="true" checked />
                                    <label class="form-check-label">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" asp-for="NcrProcSupplierReturnReq" value="false" />
                                    <label class="form-check-label">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="pb-3" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Check Yes or No if the Product is to be Disposed on Site"> Dispose on Site? <span class="fw-bold text-danger">*</span></label>
                            <div class="text-center">
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" asp-for="NcrProcDisposedAllowed" value="true" checked />
                                    <label class="form-check-label">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" asp-for="NcrProcDisposedAllowed" value="false" />
                                    <label class="form-check-label">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row supplier-return-fields">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="SupplierReturnMANum" class="control-label" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Return Material Authorization Number"> Supplier RMA # <span class="fw-bold text-danger">*</span></label>
                            <input asp-for="SupplierReturnMANum" class="form-control" />
                            <span asp-validation-for="SupplierReturnMANum" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="SupplierReturnName" class="control-label" class="control-label" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Name of Delivery Service"> Carrier Name <span class="fw-bold text-danger">*</span></label>
                            <input asp-for="SupplierReturnName" class="form-control" />
                            <span asp-validation-for="SupplierReturnName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row  supplier-return-fields">
                    <div class="form-group">
                        <label asp-for="NcrProcExpectedDate" class="control-label" class="control-label" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Product Expected Return Date"> Expected Date <span class="fw-bold text-danger">*</span></label>
                        <input asp-for="NcrProcExpectedDate" class="form-control" type="date" />
                        <span asp-validation-for="NcrProcExpectedDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="row supplier-return-fields">
                    <div class="form-group">
                        <label asp-for="SupplierReturnAccount" class="control-label" class="control-label" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Account Number for the Return Request"> Account # <span class="fw-bold text-danger">*</span></label>
                        <input asp-for="SupplierReturnAccount" class="form-control" />
                        <span asp-validation-for="SupplierReturnAccount" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="pb-3" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Check Yes or No if the Supplier has been Billed"> Suppleir Billed <span class="fw-bold text-danger">*</span></label>
                            <div class="text-center">
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" asp-for="NcrProcSupplierBilled" value="true" checked />
                                    <label class="form-check-label">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" asp-for="NcrProcSupplierBilled" value="false" />
                                    <label class="form-check-label">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="pb-3" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Check Yes or No if the Supplier Credit is Expected"> Supplier Credit Expected <span class="fw-bold text-danger">*</span></label>
                            <div class="text-center">
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" asp-for="NcrProcCreditExpected" value="true" checked />
                                    <label class="form-check-label">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" asp-for="NcrProcCreditExpected" value="false" />
                                    <label class="form-check-label">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="pb-3" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Check Yes or No for SAP Return Completion"> SAP Return Completed <span class="fw-bold text-danger">*</span></label>
                        <div class="text-center">
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" asp-for="NcrProcSAPReturnCompleted" value="true" checked />
                                <label class="form-check-label">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" asp-for="NcrProcSAPReturnCompleted" value="false" />
                                <label class="form-check-label">No</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label custom-file-label">Upload Procurement Photos:</label>
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" name="photos" multiple="multiple" />
                    </div>
                </div>
                <div class="form-group">
                    Video Link
                    <input asp-for="NcrProcDefectVideo" class="form-control" />
                    <span asp-validation-for="NcrProcDefectVideo" class="text-danger"></span>
                </div>
            </div>
            <div class="card-footer">
                <div class="form-group d-flex justify-content-end mt-2">
                    <div>
                        <button type="button" onclick="location.href='@ViewData["returnURL"]'" class="btn btn-primary ">
                            <i class="bi bi-arrow-90deg-left"></i> Back to the @ViewData["ControllerName"] List
                        </button>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary ms-4">
                            <i class='bi-plus-square-dotted'></i> Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Function to show/hide elements and manage validation based on SupplierReturnRequest value
            function toggleSupplierReturnFields() {
                var supplierReturnRequest = $('input[name="NcrProcSupplierReturnReq"]:checked').val();

                // Check the value of SupplierReturnRequest and toggle the max-height accordingly
                if (supplierReturnRequest === 'true') {
                    $('.supplier-return-fields').css('max-height', '1000px'); // Set a sufficiently large max-height

                    // Enable validation for fields by adding data-val attributes
                    $('.supplier-return-fields [data-val="true"]').each(function () {
                        $(this).attr('data-val', 'true');
                    });
                } else {
                    $('.supplier-return-fields').css('max-height', '0');

                    // Disable validation for fields by removing data-val attributes
                    $('.supplier-return-fields [data-val="true"]').each(function () {
                        $(this).attr('data-val', 'false');
                    });
                }
            }

            // Call the function on page load
            toggleSupplierReturnFields();

            // Bind the function to the change event of SupplierReturnRequest radio buttons
            $('input[name="NcrProcSupplierReturnReq"]').change(function () {
                toggleSupplierReturnFields();
            });
        });
    </script>
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });
    </script>

}