@model HaverDevProject.Models.Ncr

<div class="container-fluid mt-2">
    <div class="row justify-content-center">
        <div id="contentToDownload" class="col-md-10 mx-0">

            @await Html.PartialAsync("~/Views/NCRDetailViews/_HeadingDetailsNCRMain.cshtml", Model)

            @if (Model.NcrQa != null)
            {
                @await Html.PartialAsync("~/Views/NCRDetailViews/_NCRQaDetailsPartial.cshtml", Model.NcrQa)
            }

            @if (Model.NcrEng != null)
            {
                @await Html.PartialAsync("~/Views/NCRDetailViews/_NCREngDetailsPartial.cshtml", Model.NcrEng)
            }

            @if (Model.NcrOperation != null)
            {
                @await Html.PartialAsync("~/Views/NCRDetailViews/_NCROpDetailsPartial.cshtml", Model.NcrOperation)
            }

            @if (Model.NcrProcurement != null)
            {
                @await Html.PartialAsync("~/Views/NCRDetailViews/_NCRProcDetailsPartial.cshtml", Model.NcrProcurement)
            }

            @if (Model.NcrReInspect != null)
            {
                @await Html.PartialAsync("~/Views/NCRDetailViews/_NCRReInspDetailsPartial.cshtml", Model.NcrReInspect)
            }
        </div>
    </div>
</div>


<h1>Download PDF</h1>
<a href="@Url.Action("DownloadPDF", "Ncr")">Download NCR</a>

<a asp-controller="Ncr" asp-action=" DownloadPDF" class="btn btn-primary ms-4"> <i class="bi bi-filetype-pdf"></i> PDF</a>


@await Html.PartialAsync("~/Views/NCRDetailViews/_ActionButtonsNCRMain.cshtml", Model);

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>

<script>
    document.getElementById('downloadPdf').addEventListener('click', function () {
        html2canvas(document.getElementById('contentToDownload')).then(canvas => {
            const imgData = canvas.toDataURL('image/png');
            const pdf = new jspdf.jsPDF();

            const imgProps = pdf.getImageProperties(imgData);
            const pdfWidth = pdf.internal.pageSize.getWidth();
            const pdfHeight = (imgProps.height * pdfWidth) / imgProps.width;

            const topMargin = 15;
            const sideMargin = 0;

            const adjustedWidth = pdfWidth - (sideMargin * 2);
            const adjustedHeight = (imgProps.height * adjustedWidth) / imgProps.width;

            pdf.addImage(imgData, 'PNG', sideMargin, topMargin, adjustedWidth, adjustedHeight);
            pdf.save("NcrReport.pdf");
        });
    });
</script>
