@model HaverDevProject.Models.NcrQa

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>NcrQa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NcrQaid" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NcrQaitemMarNonConforming" /> @Html.DisplayNameFor(model => model.NcrQaitemMarNonConforming)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="NcrQasalesOrder" class="control-label"></label>
                <input asp-for="NcrQasalesOrder" class="form-control" />
                <span asp-validation-for="NcrQasalesOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NcrQacreationDate" class="control-label"></label>
                <input asp-for="NcrQacreationDate" class="form-control" />
                <span asp-validation-for="NcrQacreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NcrQalastUpdated" class="control-label"></label>
                <input asp-for="NcrQalastUpdated" class="form-control" />
                <span asp-validation-for="NcrQalastUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NcrQauserId" class="control-label"></label>
                <input asp-for="NcrQauserId" class="form-control" />
                <span asp-validation-for="NcrQauserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProAppId" class="control-label"></label>
                <select asp-for="ProAppId" class="form-control" asp-items="ViewBag.ProAppId"></select>
                <span asp-validation-for="ProAppId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NcrId" class="control-label"></label>
                <select asp-for="NcrId" class="form-control" asp-items="ViewBag.NcrId"></select>
                <span asp-validation-for="NcrId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

