<div class="container-fluid mt-3">
    <div class="row justify-content-center">
        <div id="QaSection" class="col-md-10 mx-0">
            <div class="form-group d-flex justify-content-end mt-2">
                <button id="downloadPdf" class="btn custom-pdf-color me-4">
                    <i class="bi bi-file-pdf"></i> Download PDF
                </button>
                <button type="button" onclick="location.href='@Url.Action("Index")'" class="btn custom-btn-color">
                    <i class="bi bi-arrow-90deg-left"></i> Back to NCR List
                </button>
                <div>
                    @if (Model.Ncr.NcrPhase != NcrPhase.Closed && Model.Ncr.NcrPhase != NcrPhase.ReCreated)
                    {
                        <a type="button" class="btn btn-primary ms-4" asp-action="Edit" asp-route-id="@ViewBag.NCRSectionID">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>
                    }
                    @if (Model.Ncr.NcrPhase == NcrPhase.ReCreated)
                    {
                        <a type="button" class="btn btn-primary ms-4" asp-action="Create" asp-controller="NcrQa">
                            <i class="bi bi-pencil-square"></i> Create
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>