@model HaverDevProject.Models.NcrReInspect

@{
    ViewData["Title"] = "Create";
}

<div class="col-md-8 col-10 mx-auto">
    <h1><i class="bi bi-caret-right-fill"></i>Reinspection</h1>
</div>

<div class="col-md-8 col-10 mx-auto">
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="card border-2">
            <div class="card-header bg-custom-color mb-2 d-flex justify-content-between">
                <div>
                    <h2 class="m-0">Add to NCR</h2>
                </div>
@*                 <div class="justify-content-end">
                    <p class="m-0">Fields marked <span class="fw-bold text-danger">*</span> are required.</p>
                </div> *@
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
            <div class="card-body col-lg-10 col-11 mx-auto">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="NcrId" class="control-label"><b>NCR No. </b></label>
                            <input asp-for="NcrId" class="form-control" readonly />
                        </div>
                    </div>
                          
                    <div class="col-6">
                        <div class="form-group">
                            <b>Date</b>
@*                             <label asp-for="NcrReInspectCreationDate" class="control-label"><b>NCR No. </b><small data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Code to identify the NCR">(e.g. 2024-000)</small></label>
 *@                            <input asp-for="NcrReInspectCreationDate" class="form-control" readonly />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="pb-3"><b>Reinspection Acceptable? </b><small data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Is this NCR Reinspection Acceptable?">(Y/N)</small></label>
                            <div class="text-left">
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" id="true" asp-for="NcrReInspectAcceptable" value="true" />
                                    <label class="form-check-label">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" id="false" asp-for="NcrReInspectAcceptable" value="false" />
                                    <label class="form-check-label">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="NcrReInspectUserId" class="control-label"><b>Inspector's Name </b><small data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Name of the Inspector">(e.g. J. Doe)</small></label>
                            <select asp-for="NcrReInspectUserId" class="form-control">
                                <option value="1">J. Doe</option>
                                <option value="2">E. Xample</option>
                                <option value="3">S. Ample</option>
                                <option value="4">T. Est</option>
                            </select>
                            <span asp-validation-for="NcrReInspectUserId" class="text-danger"></span>
                        </div>
                    </div>
                    @* <div class="col-6">
                        <div class="form-group">
                            <label asp-for="Ncr.NcrQa.NcrQacreationDate" class="control-label"></label>
                            <input asp-for="Ncr.NcrQa.NcrQacreationDate" class="form-control" readonly />
                            <span asp-validation-for="Ncr.NcrQa.NcrQacreationDate" class="text-danger"></span>
                        </div>
                    </div> *@

                </div>
@*                 <div class="row">
                 
                                    
                </div> *@
                <div class="form-group">
                    <label class="control-label custom-file-label"><b>Upload Photos:</b></label>
                    <input type="file" class="form-control" name="Photos" multiple="multiple" />
                </div>      
                <div class="form-group">
                    <div class="form-group">
                        <label asp-for="NcrReInspectDefectVideo" class="control-label"><b>Video Link </b><small data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Link to desired Video">(e.g. https://haverniagara.com/)</small></label>
                        <input asp-for="NcrReInspectDefectVideo" class="form-control" />
                        <span asp-validation-for="NcrReInspectDefectVideo" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <div class="form-group d-flex justify-content-end mt-2">
                    <div>
                        <button type="button" onclick="location.href='@ViewData["returnURL"]'" class="btn btn-primary ">
                            <i class="bi bi-arrow-90deg-left"></i> Back to the @ViewData["ControllerName"] List
                        </button>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary ms-4" onclick="NewNcr()">
                            <i class='bi-plus-square-dotted'></i> Create Re-Inspection
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@* <hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NcrReInspectAcceptable" /> @Html.DisplayNameFor(model => model.NcrReInspectAcceptable)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="NcrReInspectNewNcrNumber" class="control-label"></label>
                <input asp-for="NcrReInspectNewNcrNumber" class="form-control" />
                <span asp-validation-for="NcrReInspectNewNcrNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NcrReInspectUserId" class="control-label"></label>
                <input asp-for="NcrReInspectUserId" class="form-control" />
                <span asp-validation-for="NcrReInspectUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NcrId" class="control-label"></label>
                <select asp-for="NcrId" class ="form-control" asp-items="ViewBag.NcrId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Close" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });
    </script>
@*     <script>
        function NewNcr(){
            event.preventDefault();

            if (document.getElementById("false").checked) {
                var confirmNew = confirm("Do you want to create a new NCR?");

                if (confirmNew) {
                    window.location.href = "/NcrQa/Create";
                }
            }
        }
    </script>
 *@}