@model HaverDevProject.Models.NcrReInspect

@await Html.PartialAsync("~/Views/NCRDetailViews/_NCRQaDetailsPartial.cshtml", Model.Ncr.NcrQa)

@await Html.PartialAsync("~/Views/NCRDetailViews/_NCREngDetailsPartial.cshtml", Model.Ncr.NcrEng)

@await Html.PartialAsync("~/Views/NCRDetailViews/_NCROpDetailsPartial.cshtml", Model.Ncr.NcrOperation)

@await Html.PartialAsync("~/Views/NCRDetailViews/_NCRProcDetailsPartial.cshtml", Model.Ncr.NcrProcurement)

@await Html.PartialAsync("~/Views/NCRDetailViews/_NCRReInspDetailsPartial.cshtml", Model)

@* <<<<<<< HEAD *@
@* <div class="carousel-item @(i == 0 ? "active" : "")">
    <img src="@imageSrc" alt="Defect Photo of @Model.Ncr.NcrQa.Defect.DefectName" title="Defect Photo of @Model.Ncr.NcrQa.Defect.DefectName" class="d-block w-100 img-fluid rounded" />
</div> *@

@await Html.PartialAsync("~/Views/NCRDetailViews/_ActionButtons.cshtml", Model)

