@model HaverDevProject.ViewModels.NcrEngDTO

@{
    ViewData["Title"] = "Create";
}

<div class="col-md-8 col-10 mx-auto">
    <h1><i class="bi bi-caret-right-fill"></i>Engineer</h1>
</div>

<div class="col-md-8 col-10 mx-auto">
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="card border-2">
            <div class="card-header bg-custom-color mb-2 d-flex justify-content-between">
                <div>
                    <h2 class="m-0">Add to NCR</h2>
                </div>
                <div class="justify-content-end">
                    <p class="m-0">Fields marked <span class="fw-bold text-danger">*</span> are required.</p>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
            <div class="card-body col-lg-10 col-11 mx-auto">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <strong>NCR No.</strong>
                            @* <label asp-for="NcrNumber" class="control-label"></label> *@
                            <input asp-for="NcrNumber" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <strong>Date</strong>
                            @* <label asp-for="NcrNumber" class="control-label"></label> *@
                            <input asp-for="NcrEngCreationDate" class="form-control" readonly />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">                      
                        <div class="form-group">
                            <label asp-for="EngDispositionTypeId" class="control-label"><span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Select the most suitable option"><strong>HBC Engineering: </strong> (indicate disposition by selecting one of the following)  </span> <span class="fw-bold text-danger">*</span></label>
                            <select asp-for="EngDispositionTypeId" class="form-control" asp-items="ViewBag.EngDispositionTypeId">
                                <option value="">Select Disposition</option>
                            </select>
                            <span asp-validation-for="EngDispositionTypeId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group form-check">
                            <label class="form-check-label">

                                <input class="form-check-input" asp-for="NcrEngCustomerNotification" />
                                @* @Html.DisplayNameFor(model => model.NcrEngCustomerNotification) *@

                                Check the box if customer requires notification of NCR (if checked, raise message to customer detailing issues)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <strong>Disposition:</strong> (Sequence of work steps required when 'repair' or 'rework' indicated)
                            @* <label asp-for="NcrEngDispositionDescription" class="control-label"></label> *@
                            <textarea asp-for="NcrEngDispositionDescription" class="form-control"></textarea>
                            <span asp-validation-for="NcrEngDispositionDescription" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label custom-file-label"> <strong>Upload Engineer Photos: </strong></label>
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" name="Photos" multiple="multiple" />
                    </div>

                </div>
                <div class="form-group">
                    <label asp-for="NcrEngDefectVideo" class="control-label"><strong>Video Link </strong><small data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Link to desired Video">(e.g. https://haverniagara.com/)</small></label>
                    <input asp-for="NcrEngDefectVideo" class="form-control" />
                    <span asp-validation-for="NcrEngDefectVideo" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="DrawingRequireUpdating" />
                                @Html.DisplayNameFor(model => model.DrawingRequireUpdating)
                            </label>
                        </div>
                    </div>
                </div>
                <div id="drawingConditional" class="row hidden">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                               <strong> <label asp-for="DrawingOriginalRevNumber" class="control-label"></label></strong>
                                <input asp-for="DrawingOriginalRevNumber" class="form-control" />
                                <span asp-validation-for="DrawingOriginalRevNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <strong> <label asp-for="DrawingUpdatedRevNumber" class="control-label"></label></strong>
                                <input asp-for="DrawingUpdatedRevNumber" class="form-control" />
                                <span asp-validation-for="DrawingUpdatedRevNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
@*                     <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <strong> <label asp-for="DrawingUserId" class="control-label"></label></strong>
                                <input asp-for="DrawingUserId" class="form-control" />
                                <span asp-validation-for="DrawingUserId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                               <strong> <label asp-for="NcrEngUserId" class="control-label"></label></strong>
                                <input asp-for="NcrEngUserId" class="form-control" />
                                <span asp-validation-for="NcrEngUserId" class="text-danger"></span>
                            </div>
                        </div>
                    </div> *@

                    <div class="col-6">
                        <div class="form-group">
                            <strong>Revision Date</strong>
                            @* <label asp-for="NcrNumber" class="control-label"></label> *@
                            <input asp-for="DrawingRevDate" class="form-control" readonly />
                        </div>

@*                         <div class="form-group">
                           <strong> <label asp-for="DrawingRevDate" class="control-label"></label></strong>
                            <input asp-for="DrawingRevDate" class="form-control" />
                            <span asp-validation-for="DrawingRevDate" class="text-danger"></span>
                        </div> *@
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="form-group d-flex justify-content-end mt-2">
                    <div>
                        <button type="button" onclick="location.href='@ViewData["returnURL"]'" class="btn btn-primary ">
                            <i class="bi bi-arrow-90deg-left"></i> Back to the NCR List
                        </button>
                    </div>
                    <div>
                        <div>
                            <button type="submit" class="btn btn-primary ms-4">
                                <i class='bi bi-floppy'></i> Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/refreshDDL.js"></script>

    <script>
        $(document).ready(function () {
            // Listen for changes to the checkbox
            $('#DrawingRequireUpdating').change(function () {
                if (this.checked) {
                    $('#drawingConditional').removeClass('hidden');
                } else {
                    $('#drawingConditional').addClass('hidden');
                }
            });
        });
    </script>

    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });
    </script>
}