@model HaverDevProject.Models.NcrEng

@{
	ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>NcrEng</h4>
<hr />
<form asp-action="Edit">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="row">


		<div class="form-group">
			<label asp-for="Ncr.NcrNumber" class="control-label"></label>
			@* <input asp-for="Ncr.NcrNumber" class="form-control" readonly /> *@   @Html.DisplayFor(model => model.Ncr.NcrNumber)
			<span asp-validation-for="Ncr.NcrNumber" class="text-danger"></span>
		</div>

		<div class="col-md-12">
			<div class="form-group form-check">
				@Html.DisplayNameFor(model => model.EngDispositionTypeSummary)
				<br />


				<label asp-for="EngDispositionTypeId" class="control-label"></label>
				<select asp-for="EngDispositionTypeId" class="form-control" asp-items="ViewBag.EngDispositionTypeId"></select>

			</div>
			<div class="form-group form-check">
				<label class="form-check-label">
					<input class="form-check-input" asp-for="NcrEngCustomerNotification" /> @Html.DisplayNameFor(model => model.CustomerNotificationSummary)
				</label>
			</div>
			<div class="form-group">
				<label asp-for="DispositionDescriptionSummary" class="control-label"></label>
				<textarea asp-for="NcrEngDispositionDescription" class="form-control"></textarea>
				<span asp-validation-for="NcrEngDispositionDescription" class="text-danger"></span>
			</div>
			<div class="form-group form-check">
				<label class="form-check-label">
					<input class="form-check-input" asp-for="Drawing.DrawingRequireUpdating" /> @Html.DisplayNameFor(model => model.Drawing.DrawingRequireUpdating)
				</label>
			</div>
		</div>
		@* *************************************************** *@
		<div class="col-md-4">
			<div class="form-group">
				<label asp-for="Drawing.DrawingOriginalRevNumber" class="control-label"></label>
				<input asp-for="Drawing.DrawingOriginalRevNumber" class="form-control" />
				<span asp-validation-for="Drawing.DrawingOriginalRevNumber" class="text-danger"></span>
			</div>
			@*   not using drawingUserId *@
			<div class="form-group">
				<label asp-for="Drawing.NcrEngId" class="control-label"></label>
				<input asp-for="Drawing.NcrEngId" class="form-control" />
				<span asp-validation-for="Drawing.NcrEngId" class="text-danger"></span>
			</div>
		</div>
		@* *************************************************** *@
		<div class="col-md-4">
			<div class="form-group">
				<label asp-for="Drawing.DrawingUpdatedRevNumber" class="control-label"></label>
				<input asp-for="Drawing.DrawingUpdatedRevNumber" class="form-control" />
				<span asp-validation-for="Drawing.DrawingUpdatedRevNumber" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Drawing.DrawingRevDate" class="control-label"></label>
				<input asp-for="Drawing.DrawingRevDate" class="form-control" />
				<span asp-validation-for="Drawing.DrawingRevDate" class="text-danger"></span>
			</div>
		</div>

		@* *************************************************** *@
		<div class="col-md-4">
			<div class="form-group">
				<label asp-for="NcrEngUserId" class="control-label"></label>
				<input asp-for="NcrEngUserId" class="form-control" />
				<span asp-validation-for="NcrEngUserId" class="text-danger"></span>
			</div>
		</div>
		@* *************************************************** *@

		<div class="form-group">
			<input type="submit" value="Edit" class="btn btn-primary" />
		</div>
	</div>
</form>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
