@{
    ViewData["Title"] = "Home Page";
}


<div class="dashboard mt-3">
    <div class="row">
        <div class="col-md-4 mb-3">
            <a class="dashboard-item newncr text-decoration-none" asp-area="" asp-controller="NcrQa" asp-action="Create">                
                <i class="bi bi-file-earmark-plus"></i>
                <p>New NCR</p>
            </a>
        </div>
        <div class="col-md-4 mb-3">
            <a class="dashboard-item text-decoration-none" asp-area="" asp-controller="NcrQa" asp-action="Index">
                <i class="bi bi-file-earmark-spreadsheet"></i>
                <p>NCR Log</p>
            </a>
        </div>
        <div class="col-md-4 mb-3">
            <a class=" dashboard-item text-decoration-none" asp-area="" asp-controller="Supplier" asp-action="Index">
                <i class="bi bi-buildings"></i>
                <p>Suppliers</p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="dropdown ">
                <a role="button" href="#" id="adminDropdown" data-bs-toggle="dropdown" aria-expanded="false" class="dashboard-item dropdown-with text-decoration-none text-white custom-bg-dashboard-item bg-secondary">
                    <i class="bi bi-person-bounding-box"></i>
                    <p class="dropdown-toggle">Users</p>
                </a>
                @*  <ul class="dropdown-menu custom-dropdown-color" aria-labelledby="adminDropdown">
                <li><a class="dropdown-item" asp-area="" asp-controller="" asp-action="">Employees</a></li>
                <li><a class="dropdown-item" asp-area="" asp-controller="" asp-action="">Roles</a></li>
                </ul> *@
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <a class="dashboard-item text-decoration-none custom-bg-dashboard-item bg-secondary" asp-area="" asp-controller="" asp-action="">
                <i class="bi bi-graph-down"></i>
                <p>KPI Dashboard</p>
            </a>
        </div>
        <div class="col-md-4 mb-3">
            <div class="dropdown">
                <a role="button" href="#" id="adminDropdown" data-bs-toggle="dropdown" aria-expanded="false" class="dashboard-item dropdown-with text-decoration-none text-white">
                    <i class="bi bi-building-gear"></i>
                    <p class="dropdown-toggle">
                        Admin
                    </p>
                </a>
                <ul class="dropdown-menu custom-dropdown-color" aria-labelledby="adminDropdown">
                    <li><a class="dropdown-item" asp-area="" asp-controller="Item" asp-action="Index">Items</a></li>
                    <li><a class="dropdown-item" asp-area="" asp-controller="Defects" asp-action="Index">Defect Types</a></li>
                    <li><a class="dropdown-item" asp-area="" asp-controller="Lookup" asp-action="Index">Lookup Values</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>